.App {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.MainPanels {
display: flex;
align-items: stretch;
height: 100%;
}

.TopPanel {
border: 1px solid orange;
height: 100px;
}

.RightPanel {
border: 1px solid red;
width: 30%;
align-items: stretch;
height: 100%;
}

.CreatePanel {
border: 1px solid green;
height: 30%;
}

.PresetPanel {
  border: 1px solid blue;
  height: 70%;
}

.LeftPanel {
border: 2px solid blue;
flex-grow: 1;
align-items: stretch;
height: 100%;
}
